language: scala
scala:
- 2.11.7
jdk:
- oraclejdk8
sudo: false
script:
- sbt ++$TRAVIS_SCALA_VERSION -J-XX:ReservedCodeCacheSize=256M clean coverage test
- find $HOME/.sbt -name "*.lock" | xargs rm
- find $HOME/.ivy2 -name "ivydata-*.properties" | xargs rm
after_success:
- sbt coveralls
- test ${TRAVIS_PULL_REQUEST} == "false" && test ${TRAVIS_BRANCH} == "master" && sh
  "$TRAVIS_BUILD_DIR/.travis-ci-bintray-credentials.sh" && sbt 'set version := version.value
  + "." + System.getenv("TRAVIS_BUILD_NUMBER")' publish
branches:
  only:
  - master
env:
  global:
  - secure: VbQFtMSFpXAETAxanA7yUyNrBAgAD85Regt7abKr+es4baEm7BiwS9SLoTPCKyimlzNYtToXoKaZPPiN0JEjLKKuU8bsZec/lgHP6xIdRPdBmAcAu70yLKB0Jw9mdxyjeRnLRZohdF7H+y1NcIiUgVrTF88ux30itQI49GkJVJI=
  - secure: PgprpT0FZH3O2GtnW04We4Lzp2DBq8ugF3maY6kH4BAU4F8AzpoatMOMfYjOaUmQQ10P/hQ6G95t8dx6dpo21+gkVwq8dLbWSjIsU71lTPeVg0vvP7cQoyJtlY5QtEAfKxXJE6QMSBJfv2mrpa8pjhVxJ7hKJrwww0DIu2TKKWI=
